name: Run tests

on: [push]

jobs:
  test:
    defaults:
      run:
        working-directory: app
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.9
      uses: actions/setup-python@v2
      with:
        python-version: 3.9
    - run: pip install -r requirements.txt
    - run: python -m pytest tests.py
  #CD part
  deploy:
    defaults:
      run:
        working-directory: app
    needs: test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: akhileshns/heroku-deploy@v3.12.12 # This is the action
        with:
          heroku_api_key: ${{secrets.HEROKU_API_KEY}} # Must be set in github-> settings-> secrets for project
          heroku_app_name: "mini-devops-project" #Must be unique in Heroku
          heroku_email: "dan.john.harty@gmail.com"
