name: Run tests

on: [push]

jobs:
  build-linux:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.9
      uses: actions/setup-python@v2
      with:
        python-version: 3.9
    - run: $CONDA/bin/conda env update --file ./mini-devops-projet/environment.yml --name base
    - run: $CONDA/bin/pytest ./mini-devops-projet/tests.py